In [37]:
# coding: utf-8

import pandas as pd
import numpy as np
import math
from tqdm import tqdm
import json
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.decomposition import PCA
from sklearn.svm import SVR
import pickle
#передваемые параметры с сайта
string = ["SQL", "Go", "Java",90000]

c = pd.DataFrame({'data' : string[:-1]})

##информация о людях с гита для предсказания цены
new_data = pd.read_csv("githubUsersFull.csv")


for i in new_data.columns:
    if i not in c['data'].values:
        new_data[i] = np.zeros(len(new_data))

#загрузка модели для предсказывания цены и обработки датасета из tryingToFitSomeModel.ipynb
with open('data.pickle', 'rb') as f:
    svr = pickle.load(f)
with open('pca.pickle','rb') as f:
    a = pickle.load(f)
#уменьшение размерности входных данных
ans = a.transform(new_data)

answers = svr.predict(ans)
answers = pd.DataFrame(answers,columns = ['Salay'])

#предсказанные цены для 
sals = np.exp(answers.values)

#полная информация о пользователях с гита
ranging = pd.read_csv('rangingValues.csv')

del ranging['Unnamed: 0']
ranging['Salary'] = sals

##выбор пользователей, подходящих под запрос
ans = ranging[(ranging.Salary <= string[-1] * 1.1) & (ranging.Salary >= string[-1] * 0.9)]
ans = ans.sort_values(['Watchers', 'Followers'])[::-1]
#ans.to_csv('answer11111-.csv')

In [10]:
##запрос ["CSS","HTML","JavaScript",80000]
ans.head()

       Followers  Watchers                           Link        Salary
20876      21699        37     https://github.com/mojombo  73222.975795
14594      21027       412   https://github.com/paulirish  78782.359350
18394      19955       396  https://github.com/addyosmani  79863.441800
24035      12301        26    https://github.com/mbostock  82253.173617
15088      11594       293       https://github.com/mattt  73169.072537

In [32]:
# ["C++","C#",90000]
ans.head()

       Followers  Watchers                               Link        Salary
23098         44      7059       https://github.com/Jackneill  89829.504075
16059         37      6773  https://github.com/jbenner-radham  95999.721826
22396        335      5444           https://github.com/umaar  89829.504075
24174         21      5233       https://github.com/pingjiang  95999.721826
16043        122      4956    https://github.com/pyrotechnick  89829.504075

In [38]:
# ["SQL", "Go", "Java", 90000]
ans.head()

       Followers  Watchers                               Link        Salary
19944        134      6270           https://github.com/nxbdi  83162.945868
18065         65      4046  https://github.com/netconstructor  83657.997763
22400        281      3677      https://github.com/simplyianm  82265.265993
23875       1171      3393          https://github.com/dodola  83988.507440
19031         93      3232     https://github.com/shaobin0604  81102.043915